body,
html {
  height: 100%;
}

a {
  text-decoration: none !important;
}
/********************* HEADER ***************/

.hero {
  margin-top: 48px;
}

.welcome {
  text-align: right;
}

.hero-title {
  font-size: 96px;
  font-family: 'Playfair Display', serif;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.social-links {
  text-align: right;
}

@media (max-width: 991.98px) {
  .icon {
    width: 30px !important;
    height: 30px !important;
  }
  .hero-title {
    font-size: 72px !important;
  }
}

@media (max-width: 767.98px) {
  .hero-title {
    text-align: center;
  }
  .social-links {
    text-align: center;
  }
}

.social-link {
  margin-right: 8px;
}

/********************* NAVBAR ***************/

a {
  color: #35459e;
  text-decoration: none;
}

.nav-search {
  text-align: right;
}

.nav-bar {
  background-color: white;
  height: 96px;
  line-height: 96px;
  position: -webkit-sticky;
}

.nav-bar-shadow {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

/********************* CAROUSEL ***************/

@media (max-width: 1199.98px) {
  .carousel-main {
    padding: 0 !important;
    max-width: 1140px !important;
  }
}

.carousel-main {
  margin-bottom: 80px;
}

.carousel-body {
  position: absolute;
  bottom: 0;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  right: 15%;
  left: 0.5%;
}

.carousel-body h1 {
  font-size: 5vw;
  font-family: 'Marcellus', serif;
}

/********************* CARD ***************/

@media (max-width: 767.98px) {
  .card-container img {
    margin: auto !important;
  }

  .card-container {
    max-width: 450px !important;
  }
  .card-main {
    max-height: 800px !important;
    margin-bottom: 36px !important;
  }

  .card-body {
    margin: 0 !important;
    position: relative !important;
  }
}
@media (max-width: 991.98px) {
  .card-body {
    margin-top: 20px !important;
  }
  .card-text {
    font-size: 15px;
  }
  .card-title {
    font-size: 25px !important;
    margin-top: 12px;
  }
}

.card-main {
  max-height: 1200px !important;
  box-shadow: 0 21px 50px rgba(0, 0, 0, 0.08);
  border-width: 0 !important;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 80px;
  position: relative;
}

.card-container img {
  width: 290px;
  height: 400px;
  margin-right: 15px;
  float: left;
}

.card-body {
  margin-left: 320px;
  margin-right: 30px;
  margin-top: 48px;
  position: absolute;
}

.card-information {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.card-title {
  font-size: 35px;
  margin-top: 12px;
}

.card-text {
  text-align: justify;
  margin-bottom: 20px;
}

/********************* ABOUT ME ***************/

.about-me {
  width: 350px;
  height: 400px;
  float: right;
  position: relative;
  background-color: red;
}

/********************* FOOTER ***************/

.footer {
  margin-top: 64px !important;
  position: relative;
  width: 100%;
  height: 96px;
  background-color: #ffffff;
  margin: 48px 0;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.footer-title {
  font-size: 48px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.footer-body {
  margin-top: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

/********************* FULLCONTENT PAGE ***************/

@media (max-width: 767.98px) {
  .fullcontent-img {
    transform: scaleY(0.7);
    position: relative;
  }

  .fullcontent {
    position: relative;
    top: -55px;
  }

  .fullcontent-main {
    height: fit-content;
  }

  .fullcontent-body {
    position: relative !important;
  }
}

.fullcontent-img {
  margin: auto !important;
  margin-bottom: 20px !important;
  width: 100% !important;
}

.fullcontent-main {
  border-width: 0 !important;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 21px 50px rgba(0, 0, 0, 0.08);
  max-height: fit-content;
  height: 100%;
  margin-bottom: 80px;
}

.fullcontent-body {
  margin: 0;
  position: relative !important;
}
